section {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.who-am-I {
    font-family: Cinzel;
}

.has-first-color {
    color: var(--primary-color);
}

.btn-portfolio {
    background: var(--primary-color);
    border-radius: 0;
}

.btn-portfolio a {
    color: #000;
    text-decoration: none;
}

.btn-about a {
    color: var(--text-color);
    text-decoration: none;
}

.intro-sec {
    height: calc(100vh - 60px);
    min-height: 700px;
    height: 100vh;
    margin-top: -60px;
}

@media (max-width:991.98px) {
    .intro-sec {
        display: block;
        height: auto!important;
    }
}

.intro-sec .text,
.intro-sec .h-bg-image {
    width: 50%;
}

@media (max-width:991.98px) {
    .intro-sec .text,
    .intro-sec .h-bg-image {
        width: 100%;
    }
}

.intro-sec .intro {
    max-width: 450px;
    margin: 0 auto;
}

@media (max-width:991.98px) {
    .intro-sec .intro {
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.intro-sec .intro .feature .wrap-icon {
    background: 0 0!important;
    width: auto;
    height: auto;
    margin-bottom: 0;
}

.intro_sec .intro .feature .wrap-icon svg {
    color: #5cccc9;
}

.intro-sec .text h1 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

.intro-sec .text h3 {
    font-size: 16px;
    font-weight: 700;
}

.intro-sec .h-bg-image {
    background-size: cover;
    background-position: center;
    min-height: 700px;
    position: relative;
    transition: .3s;
}

.intro-sec .h-bg-image:hover {
    transform: scale(0.9);
    border-radius: 30px;
}

/* .ac-btn {
    padding: 4px 19px;
    color: var(--secondary-color);
    position: relative;
    border: var(--secondary-color) 2px solid;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 0;
    margin-right: 20px;
} */

.btn-10,
.btn-10 *,
.btn-10 :after,
.btn-10 :before,
.btn-10:after,
.btn-10:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-10 {
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.btn-10:disabled {
  cursor: default;
}

.btn-10:-moz-focusring {
  outline: auto;
}

.btn-10 svg {
  display: block;
}

.btn-10 [hidden] {
  display: none;
}

.btn-10 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-10 span {
  mix-blend-mode: difference;
}

.btn-10:before {
  background: #fff;
  content: "";
  display: block;
  height: var(--height, 1em);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(var(--progress, -100%));
  transition: transform 0.5s ease, height 0.2s ease;
  width: 100%;
}

.btn-10:hover:before {
  --progress: 0;
}

.btn-10:active:before {
  --height: 100%;
}

.btn-91,
.btn-91 *,
.btn-91 :after,
.btn-91 :before,
.btn-91:after,
.btn-91:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-91 {
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.btn-91:disabled {
  cursor: default;
}

.btn-91:-moz-focusring {
  outline: auto;
}

.btn-91 svg {
  display: block;
}

.btn-91 [hidden] {
  display: none;
}

.btn-91 {
  background: none;
  border: 2px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.8rem 3rem;
  margin-left: 1.25rem;
  position: relative;
  text-transform: uppercase;
}

.btn-91 span {
  font-weight: 900;
}
.btn-91:after,
.btn-91:before {
  border: 2px solid red;
  border-radius: 999px;
  content: "";
  inset: -2px;
  position: absolute;
  z-index: -1;
}
.btn-91:after {
  border-color: blue;
}
.btn-91:hover:before {
  -webkit-animation: glitch-border 0.2s infinite;
  animation: glitch-border 0.2s infinite;
}
.btn-91:hover:after {
  animation: glitch-border 0.2s infinite reverse;
}
.btn-91:hover span {
  -webkit-animation: glitch-text 0.2s infinite;
  animation: glitch-text 0.2s infinite;
}
@-webkit-keyframes glitch-text {
  0% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
  to {
    text-shadow: -2px 1px 0 red, 2px -1px 0 blue;
  }
}
@keyframes glitch-text {
  0% {
    text-shadow: 0 0 0 red, 0 0 0 blue;
  }
  to {
    text-shadow: -2px 1px 0 red, 2px -1px 0 blue;
  }
}
@-webkit-keyframes glitch-border {
  0% {
    transform: translate(2px, -1px);
  }
  to {
    transform: translate(-2px, -1px);
  }
}
@keyframes glitch-border {
  0% {
    transform: translate(2px, -1px);
  }
  to {
    transform: translate(-2px, -1px);
  }
}


.ac-btn a {
    text-decoration: none;
}

.intro-sec .h-bg-image .block {
    bottom: 50vh;
    max-width: 220px;
    padding: 30px;
    left: -110px;
    position: absolute;
    width: 250px;
    height: 220px;
    border-radius: 100%;
    /* mix-blend-mode: multiply; */
    background-color: #2f514e;
    z-index: 9999999999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:991.98px) {
    .intro-sec .h-bg-image {
        height: 600px;
        min-height: 75vh;
        margin-bottom: 30px;
    }
    .intro-sec .h-bg-image .block {
        top: unset;
        bottom: 0;
        width: 100%;
        margin: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

.intro-sec .h-bg-image .block .wrap-icon {
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 10px;
    display: block;
}

.intro-sec .h-bg-image .block h3 {
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.intro-sec .h-bg-image .block p {
    font-size: 14px;
    line-height: 1.3;
    color: var(--text-color)
}

.intro-sec .h-bg-image {
    filter: saturate(0.5);
}