.site-header {
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-button {
    color: var(--text-color);
}

.menu-button:focus,
.menu-button:hover {
    color: var(--text-color);
}